vendor
CodeDump
.vscode
lib/yui
lib/yui2in3
lib/DataTables
powershell/
index.html
index.1.html
archive.zip
deploy/
garbage



# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

