vendor/
src/alphabroderold
src/hlfarchiveold
archivedb.json
*.zip
.elasticbeanstalk\*.crt
.elasticbeanstalk\*.key
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
vendor
sjcAlphaBroderArchive/excelFiles
sjcAlphaBroderArchive/jsonfiles
sjcMckessonArchive/excelFiles
sjcMckessonArchive/jsonfiles
*.xlsx