RewriteEngine On

RewriteRule ^api/.*$ api.php [L]
RewriteRule ^/sjcarchiveassets/(.*) http://s3.amazonaws.com/sjcarchiveassets/$1 [QSA,NC,NE,R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
