packages:
  yum:
    mod24_ssl : []
    mod_ssl : []
    libmemcached: []
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGKjCCBRKgAwIBAgIQfq4ttH7ENcHu1g4t0F2LwTANBgkqhkiG9w0BAQsFADBE
      MQswCQYDVQQGEwJVUzEWMBQGA1UEChMNR2VvVHJ1c3QgSW5jLjEdMBsGA1UEAxMU
      R2VvVHJ1c3QgU1NMIENBIC0gRzMwHhcNMTcwODIxMDAwMDAwWhcNMTgwODIxMjM1
      OTU5WjCBlDELMAkGA1UEBhMCQ0ExEDAOBgNVBAgMB09udGFyaW8xEDAOBgNVBAcM
      B1Rvcm9udG8xIDAeBgNVBAoMFzE3NzI4ODcgT05UQVJJTyBMSU1JVEVEMR8wHQYD
      VQQLDBZJbmZvcm1hdGlvbiBUZWNobm9sb2d5MR4wHAYDVQQDDBUqLnN0am9zZXBo
      Y29udGVudC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDJSKia
      L3GwYIydAODoE9HN4XnNdy6qVRFbusJz+CjwRX6ywXsj8OnlrPmk6do1mQNXmmGy
      YZp2LSKchHUFYRK7tUvYbcRR3QeX2NGlY/GgpqgeNiUYPN5r+s+g2t7q+S3GsS49
      Ae7vDflrHfmxCZn2iVuF4uAc4IRT2vximWdX/Q3HgkCA44Vm5xwSwlh/eKzAnS94
      8AgqNWBKQI9DM6JIl2QzITkTDxQHZ1UoxyjnPHLYjTYQU9rxRd/J10h0D2PU9EwB
      XjRP22igqkgZOk0bcOq+yrtBxeEPLAApXiODu2YU1fkZ7RdKFy4WGma+iBi2NNAY
      H7CjoQAWQ8lUAXNRAgMBAAGjggLFMIICwTA1BgNVHREELjAsghUqLnN0am9zZXBo
      Y29udGVudC5jb22CE3N0am9zZXBoY29udGVudC5jb20wCQYDVR0TBAIwADAOBgNV
      HQ8BAf8EBAMCBaAwKwYDVR0fBCQwIjAgoB6gHIYaaHR0cDovL2duLnN5bWNiLmNv
      bS9nbi5jcmwwgZ0GA1UdIASBlTCBkjCBjwYGZ4EMAQICMIGEMD8GCCsGAQUFBwIB
      FjNodHRwczovL3d3dy5nZW90cnVzdC5jb20vcmVzb3VyY2VzL3JlcG9zaXRvcnkv
      bGVnYWwwQQYIKwYBBQUHAgIwNQwzaHR0cHM6Ly93d3cuZ2VvdHJ1c3QuY29tL3Jl
      c291cmNlcy9yZXBvc2l0b3J5L2xlZ2FsMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggr
      BgEFBQcDAjAfBgNVHSMEGDAWgBTSb/eW9IU/cjwwfSPahXibo3xafDBXBggrBgEF
      BQcBAQRLMEkwHwYIKwYBBQUHMAGGE2h0dHA6Ly9nbi5zeW1jZC5jb20wJgYIKwYB
      BQUHMAKGGmh0dHA6Ly9nbi5zeW1jYi5jb20vZ24uY3J0MIIBBQYKKwYBBAHWeQIE
      AgSB9gSB8wDxAHYA3esdK3oNT6Ygi4GtgWhwfi6OnQHVXIiNPRHEzbbsvswAAAFe
      BhzT4gAABAMARzBFAiEAxGHCfQtKa4rT+fd21UcagoGubcxPYS9sIAUG3ErQTR0C
      ICF4/vx7WzZIHuG9Qa9DIwXYNmUTsMpQhrWKMBcZ0PysAHcApLkJkLQYWBSHuxOi
      zGdwCjw1mAT5G9+443fNDsgN3BAAAAFeBhzT/gAABAMASDBGAiEAohzRQH9sBQUu
      KNcENmxP331o54t88Wn+6Rwq3zm4svoCIQCTo8MexGKpYu1lER2mG4gz0bsKIhCw
      JvS87r7u/4HrajANBgkqhkiG9w0BAQsFAAOCAQEAJj1KhzDp8uKlU6u2FHxAfyMe
      9onX+g+URV6etDVLLOm+apUXStbBVglbXue/GLu4hFt675MjceikygXOeQu4aN9J
      jVLetvQcNS74e238xEmQyVXqBh8+rbFfUFBejBPqWT6ww9y2VubmCvf/no8EgBLQ
      Yg6cZL45asZSnh2fuY9jxZKBYMs/bd4dI3Sjfm/Gv0HDZkE0MB/4ZJ/YHh+GpueW
      +4jittf6+ODY6u2Sl5L6uffX6uJBDmNlz3W8pkGbOeYA1h+IhjOHgjZWZxAkCcZk
      2XS0pUUeqjpLzlf91vaugTewC/QkPpbPs5P2s/yx1R/IJHr2EW/bM53IAan7aA==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEwAIBADANBgkqhkiG9w0BAQEFAASCBKowggSmAgEAAoIBAQDJSKiaL3GwYIyd
      AODoE9HN4XnNdy6qVRFbusJz+CjwRX6ywXsj8OnlrPmk6do1mQNXmmGyYZp2LSKc
      hHUFYRK7tUvYbcRR3QeX2NGlY/GgpqgeNiUYPN5r+s+g2t7q+S3GsS49Ae7vDflr
      HfmxCZn2iVuF4uAc4IRT2vximWdX/Q3HgkCA44Vm5xwSwlh/eKzAnS948AgqNWBK
      QI9DM6JIl2QzITkTDxQHZ1UoxyjnPHLYjTYQU9rxRd/J10h0D2PU9EwBXjRP22ig
      qkgZOk0bcOq+yrtBxeEPLAApXiODu2YU1fkZ7RdKFy4WGma+iBi2NNAYH7CjoQAW
      Q8lUAXNRAgMBAAECggEBAJs3ppzPvVIQAh8IkGcm8YFcQLtLDvdXBj3AdTdMxPUU
      AjICtdzvaM8uZozfsN/oEQW7DV+rmJtNDwW3ty3gv7t0gPpzGxMt6S8VigWKXshN
      /BLgGhboyXRnQzl9zq1QXhZ8h3WQShqaoh4STXxSNSJCpgtG+yAJmsG3eyzlsyXL
      pYzyG49oT1EMWfFT+iDs97S0IVNFVSExtOQtyV+zktnlGAgRne+BH3PgGX4xtcoR
      /gSKKx3FJByVUdlGvHKfn+knVC1Eym+rGZAN/3lFA7FPPxm1rjFmMTSYDSPYUKEX
      zp2ya8W/DUZtLg1KBbS4XaVx1Bcvk8+2LJZbI6GDkWkCgYEA9DqQuQBJ81Ieeicc
      ximNgA8UFTKXr+3yq7EPikZL0jxa7+sib1NvQJbY6fBJgh7IZCD7GQ0UE41ZM4OC
      UMkpIKLJDG6gLS3JYF8JVEnLKosDeUh045GxZqSaRwuRprTetuKQp3lIubnj2V+V
      mBaeGmBkyO+QCZZjHEGxuEdaC9cCgYEA0vw2wHYTDswDth+RiQfiW4AWRyCx671t
      LJSO5UAHVmheHrBQ2/VX9kPUjHquPWQ1U3FppuK6M82vTq5+69kTfqFr05/d/h06
      7MFIC5I4X0R16R/p/Q45r65ZbTH+G1IOYNseZfWlowYkqKfuBc4l5WyPMSVxRlhK
      zjKwWSNkVRcCgYEA07QEiWkXsUSoyIgo6BlS4AOyC+HsHQNtDKkR6HGg/d91kGzJ
      T6kKUfmwk7DHd3SJjkoMfx2YHo6zGPVRPAfzj6esEQu/6wm6esBGzPqekwUngLVv
      JWjAV1ItrZH4soIsYGmqrJF0mhHp0R6LBOfuKr0OACOxPq5OwUqs7Cllg8cCgYEA
      jxOgoZWwyNkLL0drL00ccMaE1QlT/rS/w3qfCNIJ58vw/8i7nN5dH1DSY82SOWmq
      TALeDeE1Oooidy4YPiJAeSBIegOwzHHQEtvj2oz3E4velhAhYo1yCzQlysobMzXL
      MF2H2Mbj45D37TOsU12AD3w2ArMMhRK87+Yp9tjsYlMCgYEAycwVFLMXf9qV6EjR
      jNGwriOdEh6g96Lz63Up1SWk7PZh5ByxnrlFQnB4q+eKcjQXivUQCPoKf30hRrGL
      5DjyxBS+Ex9m1GkgnIaHIiNoOe9X7WwN5pVhBmv8QMVfc03bLT6+904J7mUGk61s
      V08tCpNekXuaukbpAkcT71eVKck=
      -----END RSA PRIVATE KEY-----
